# App
PORT=8000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://user:password@db:5432/dbname"

# Authentication
CLIENT_ID=u-s4t2ud-1e6576a63e91afd8227156e6675bc3d9f62d4ca49e17b887a27a2436dfd2b3e8
CLIENT_SECRET=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 
REDIRECT_URI=http://localhost/api

# JWT
JWT_SECRET=jwtSecuredSecret
JWT_EXPIRES_IN=1d
